<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @chore.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @chore.status %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @chore.repeat %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chore.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @chore.value %>
</p>

<p>
  <strong>Family Id:</strong>
  <%= @chore.family_id %>
</p>

<p>
  <strong>Kid Id:</strong>
  <%= @chore.kid_id %>
</p>

<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
